@import '../../../index.css';

.ButtonOutline {
  background-color: var(--color-secondary);
  color: var(--color-btn-normal);
  border-color: var(--color-btn-normal);
  font-size: var(--font-size-description);
  border-radius: 4px;
  height: var(--basic-button-height);
  width: var(--basic-outline-button-width);
}

.ButtonOutline:hover,
.ButtonOutline:active {
  background-color: var(--color-secondary);
  border-color: var(--color-btn-hover);
  color: var(--color-btn-hover);
}

.ButtonOutline:disabled {
  background-color: var(--color-secondary);
  border-color: var(--color-btn-disabled);
  color: var(--color-btn-disabled);
}
