@import '../../../index.css';

.Icon {
  margin: auto 0;
  height: 17.5px;
  width: 17.5px;
  transform: translateX(-70%);
  z-index: 10;
}
.SearchFormContainer {
  display: flex;
}

.SearchForm {
  /* display: flex; */
  color: var(--color-primary-text);
  font-size: var(--font-size-description);
  border-radius: 8px;
  border: 1px solid #e0e2ea;
  padding: 15px;
  height: 48px;
  margin-right: -15px;

  width: 100%;
}
