.Icon {
  margin: auto 0;
  height: 17.5px;
  width: 17.5px;
  transform: translateX(-150%);
  z-index: 10;
}
.SearchFormContainer {
  display: flex;
}

.SearchForm {
  /* display: flex; */
  border-radius: 4px;
  width: 100%;
}
