@import '../../../index.css';

.BagIcon {
  width: 36px;
  height: 45px;
  color: var(--color-secondary-text);
  /* color: #b9bdcf; */
}

.CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh auto;
  border-radius: 8px;
  max-width: 600px;
  height: 344px;
  background-color: var(--color-secondary);
}

.TextPrimary {
  color: var(--color-primary-text);
  font-size: var(--font-size-title);
}

.TextSecondary {
  color: var(--color-secondary-text);
  font-size: var(--font-size-description);
}
