* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #f2f2f2;
  --color-secondary: #ffffff;
  --color-primary-text: #1a1b1d;
  --color-secondary-text: #9194a5;

  --color-btn-normal: #4460f7;
  --color-btn-hover: #2140e8;
  --color-btn-disabled: #9194a5;

  --color-border-forms: #e0e2ea;

  --color-promo: #f9a52b;

  --font-size-logo: 24px;
  --font-size-title: 18px;
  --font-size-description: 14px;

  --font-size-details-title: 24px;
  --font-size-details-description: 18px;

  --basic-button-height: 38px;
  --basic-outline-button-width: 88px;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  background: var(--color-background);
  color: var(--color-primary-text);
}

.title {
  font-size: var(--font-size-title);
}

.description {
  color: var(--color-secondary-text);
  font-size: var(--font-size-description);
}

.unavailable {
  background-color: var(--color-secondary-text);
  font-size: var(--font-size-description);
}
