@import '../../../index.css';

.ModalSize {
  max-width: 600px;
  background-color: var(--color-background);
}

.ImageContainer {
  /* margin: 15px; */
  margin-top: 35px;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.CardInfo {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 32px 56px 32px;
}

.ProductTitle {
  color: var(--color-primary-text);
  font-size: var(--font-size-details-title);
}

.ProductDescription {
  color: var(--color-secondary-text);
  font-size: var(--font-size-details-description);
}
