@import '../../../index.css';

.PaginateContainer {
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
  margin-bottom: 20px;
}
.PaginateContainer > a {
  color: var(--color-primary-text);
  margin: 0 16px;
  font-size: var(--font-size-description);
}

.PaginateList {
  margin: 0 8px;
  font-size: var(--font-size-description);
}

.DisabledLink {
  pointer-events: none;
  font-size: var(--color-btn-disabled);
}

.ActivePage {
  color: var(--color-btn-normal);
  pointer-events: none;
}

@media only screen and (max-width: 476px) {
  .PaginateContainer > a {
    margin: 0 8px;
  }
}
